/*general*/

body {
    background: white;
    max-width: 100%;
}

h2 {
    font-family: 'Changa', sans-serif;
}


/*grid*/

.grid {
    width: 650px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    background: linear-gradient(#5d8ab1, #9198e5);
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-areas:'photo nom' 
                        'infos objectif'
                        'github vide' 
                        ; 
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    padding: 13px 13px 13px 13px;
    border-radius:10px;

}

.nom{
    grid-area: nom;
    font-family: Helvetica;
    color: white;
}

.infos{
    grid-area: infos;
    font-family: Helvetica;
    color: white;
    padding: 5px;
}

.github{
    grid-area: github;
    
}

.objectif{
    grid-area: objectif;
    font-family: Helvetica;
    color:white;
}

/*img*/

img .github {
    width: 10px;
}

a:hover img{
    width:50px;
    height:50px;
}

.profil{
    display: block;
    position: relative;
    grid-area: photo;
    top: 10px;
    left: 5px;
    border-radius:10px;
}




